<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
  <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/>
  </runtime>
  <userSettings>
    <CIM.Properties.Settings>
      <setting name="DefaultCulture" serializeAs="String">
        <value>zh-TW</value>
      </setting>
    </CIM.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWmsAutoStkService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" />
        <binding name="BasicHttpsBinding_IWmsAutoStkService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IWmsAutoStkService1" />
        <binding name="BasicHttpsBinding_IWmsAutoStkService1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ICardReviewService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICardReviewService1" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="1073741824">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mybiztestap01.kh.asegroup.com:800/WaferCenterWeb/Services/WmsAutoStkService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWmsAutoStkService"
        contract="WmsAutoStkService.IWmsAutoStkService" name="BasicHttpBinding_IWmsAutoStkService" />
      <endpoint address="https://mybiztest/WaferCenterWeb/Services/WmsAutoStkService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWmsAutoStkService"
        contract="WmsAutoStkService.IWmsAutoStkService" name="BasicHttpsBinding_IWmsAutoStkService" />
      <endpoint address="http://mybiztestap01.kh.asegroup.com:800/WaferCenterWeb/Services/WmsAutoStkService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWmsAutoStkService1"
        contract="ASE_WebService.IWmsAutoStkService" name="BasicHttpBinding_IWmsAutoStkService1" />
      <endpoint address="https://mybiztest/WaferCenterWeb/Services/WmsAutoStkService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWmsAutoStkService1"
        contract="ASE_WebService.IWmsAutoStkService" name="BasicHttpsBinding_IWmsAutoStkService1" />
      <endpoint address="http://khhrisap03.kh.asegroup.com/HRS/CardReviewService/CardReviewService.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICardReviewService1"
        contract="ASE_CardID_WebService.ICardReviewService" name="BasicHttpBinding_ICardReviewService" />
    </client>
  </system.serviceModel>
</configuration>